@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Brand colors---
	Orange: #ff6b00
	Light blue: #cbf3f0
	Teal: #2ec4b6
	Yellow: #ffd601
	Grey: #635e55
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
	font-family: 'Lato', sans-serif;
}

/*typography*/
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  margin-bottom: .75rem
}
h1 {
 	font-size: 3rem;
	font-weight: 900;
} /*48px*/
h2 {
  font-size: 2rem;
	font-weight: 900;
} /*32px*/
h3 {
  font-size: 1.5rem;
	font-weight: 700;
} /*24px*/
h4 {
  font-size: 1.25rem;
	font-weight: 700;
} /*20px*/
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
	font-weight: 300;
} /*16px*/


/*begin header css*/
/*delete this if you get a new nav bar*/
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: #333;
}
.header li a:hover, #header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  background: pink;
}


/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  padding-right: 0px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Responsive logo*/

#header h1 a{
	display: flex;
    width: 50px;
	outline: none;
	height: 50px;
	margin-top: 10px;
    margin-left: 10px;
	background-image:url("../images/logo-round.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
/*end header css*/


#hero {
  padding-top: 60px;
  min-height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("https://www.dolomitemountains.com/res/images/header/1.jpg");
  background-size: cover;
}

#hero_text {
  max-width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: thin black solid;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.59);
  margin: 5%;
}

#new_hero{
	display: flex;
	background:rgba(232,124,126,1.00);
	background-position: center;
    min-height: 30em;
	flex-wrap: wrap;
}

.container {
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  padding: .75rem;
  outline: thin grey solid;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
}

.row_content_centered {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: thin grey solid;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: row;
  }	

.cta {
border-radius: 20px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  transition: all .3s ease;
  width: 140px;
  text-align: center;
  background: purple;
}

.button {
	align-items: center;
	font-weight: 700;
	font-size: 0.8rem;
	color: white;
	text-align: center;
	background-color: cadetblue;
	text-decoration: none;
    display: inline-flex;
    justify-content: center;
    min-height: 36px;
    transition: all .3s ease;
}

.button_lg {
	border-radius: 100px;
	height: 56px;
	min-width: 250px;
	max-width: 50%;
    padding: 20px;
}

.button_sm {
	border-radius: 100px;
	height: 56px;
	min-width: 150px;
	max-width: 50%;
    padding: 20px;
}

.button_brand{
	background-color: blueviolet;
}

.button_light{
	background-color:bisque;
	color: darkblue;
}

.button:hover {
 	background-color: rgba(169,52,54,0.56);
}


/*the star of the show*/
.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;/*allows to add more or less children, fewer children will grow, more children will shrink*/
  flex-shrink: 1;
  padding: 0.75rem;
  outline: thin red solid;
  background-color:rgba(96,98,210,0.39);
	align-items: center;
}

/*modifiers*/
.v_space_sm {
  margin-top: 2%;
   margin-bottom: 2%;
}
.v_space_md {
   margin-top: 5%;
   margin-bottom: 5%;
}
.v_space_lg {
   margin-top: 7%;
   margin-bottom: 7%;
}

.flex_end{
	justify-content: flex-end;
	}

.center{
	align-items: center;
}


footer {
  background: #000;
  padding: 2rem;
}
footer, footer a {
  color: #fff;
}


/*larger screens*/
/* 48em = 768px */
@media (min-width: 48em) {
  html {
    font-size: 125%;
  }
    
#header h1 a{
	 display: flex;
     width: 200px;
	 outline: none;
	height: 100px;
	background-image: url("../images/logo-gray.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
    
	
  #hero {}
    
    
  #hero_text {
    max-width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
  }
    
    /*header css*/
    /*delete this if you get a new navbar*/
	
	.header{
		display: flex;
		justify-content: space-between;
	}
	
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
	
   /*end header css*/ 
    
    
  .container {
    padding-top: 60px;
    max-width: 1280px;
  }
    
    
  .row {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: thin grey solid;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: row;
  }
	
	.column {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: thin purple solid;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: column;
  }
    
  .item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
	  align-items: flex-start;
  }
	.one_fifth {
	width: 20%;
  }
	.two_fifth {
	width: 40%;
  }
	.three_fifth {
	width: 60%;
  }


}