@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Brand colors---
	Orange: #ff6b00
	Light blue: #cbf3f0
	Teal: #2ec4b6
	Yellow: #ffd601
	Grey: #635e55
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {}


ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
	font-family: 'Lato', sans-serif;
}

/*typography*/
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  color: #2a2b30;
  margin-bottom: .75rem
}
h1 {
 	font-size: 3rem;
	font-weight: 900;
} /*48px*/
h2 {
  font-size: 2rem;
	font-weight: 900;
} /*32px*/
h3 {
  font-size: 1.5rem;
	font-weight: 700;
} /*24px*/
h4 {
  font-size: 1.25rem;
	font-weight: 700;
} /*20px*/
p {
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
	font-weight: 300;
	padding: 5px;
} /*16px*/


/*begin header css*/


.header {
	position: fixed;
	z-index: 10;
	min-height: 100px;
	width: 100%; 
	background: rgba(34,34,34,0.0);
	padding: 18px;
	transition: all ease-out .5s;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.active {  
  background-color: #ffffff;
 box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #333;
}
.header li a:hover, #header .menu-btn:hover {
  background-color: #f4f4f4;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}


/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  padding-right: 0px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Responsive logo*/

#header h1 a{
	display: flex;
    width: 50px;
	outline: none;
	height: 50px;
	margin-top: 10px;
    margin-left: 10px;
	background-image:url("../images/logo-round.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

/*end header css*/


#hero {
  padding-top: 175px;
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../images/ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -5;
}

#hero_cover{
  padding-top: 60px;
  min-height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("../images/white-two-third.png");
  background-size: cover;
  z-index: 1;
}

#hero_text {
  max-width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  margin: 5%;
}

#new_hero{
	display: flex;
	background:rgba(232,124,126,1.00);
	background-position: center;
    min-height: 30em;
	flex-wrap: wrap;
}

#flight_deals{
	background-image: url("../images/window.png");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
}

#solo_travel {
	background-image: url("../images/indonesia.jpeg");
	background-position: bottom;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 350px;
}

#group_travel {
	background-image: url("../images/camping.jpeg");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 350px;
}

#family_travel {
	background-image: url("../images/family.png");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 350px;
}

#edu_app {
	background-image: url("../images/education.png");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 350px;
}

#city_guide {
	background-image: url("../images/lisbon.jpeg");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
}

#city_1{
	background-image: url("../images/tokyo.jpeg");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 200px;
}
#city_2{
	background-image: url("../images/france.png");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 200px;
}
#city_3{
	background-image: url("../images/chile.png");
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	min-height: 200px;
}

#screengrab {
	z-index: 8;
	max-width: 250px;
}

/*Row and Container styles*/

.container {
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  padding: .75rem;
  outline: none;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
}

.row_content_centered {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: none;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: row;
  }	

 .row_divider{
    display: flex;
    width: 100%;
    padding: 5%;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: row;
	min-height: 250px;
  }

.passport_item {
	margin: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 200px;
	border-radius: 5%;
}

/*button styles*/

.cta {
border-radius: 20px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  transition: all .3s ease;
  width: 140px;
  text-align: center;
  background: purple;
}

.button {
	align-items: center;
	font-weight: 700;
	font-size: 0.8rem;
	color: white;
	text-align: center;
	background-color: cadetblue;
	text-decoration: none;
    display: inline-flex;
    justify-content: center;
    min-height: 36px;
    transition: all .3s ease;
}

.button_lg {
	margin: 5px; 
	border-radius: 100px;
	height: 56px;
	min-width: 250px;
	max-width: 50%;
    padding: 20px;
}

.button_sm {
	border-radius: 100px;
	height: 56px;
	min-width: 150px;
	max-width: 50%;
    padding: 20px;
}

.button_brand{
	background-color: #ff6b00;
}

.button_light{
	background-color:bisque;
	color: #635e55;
}

.button:hover {
 	background-color: #2ec4b6;
}


/*the star of the show*/
.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;/*allows to add more or less children, fewer children will grow, more children will shrink*/
  flex-shrink: 1;
  padding: 0.75rem;
  outline: none;
  background-color: none;
  align-items: center;
}

/*modifiers*/
.v_space_sm {
  margin-top: 2%;
   margin-bottom: 2%;
}
.v_space_md {
   margin-top: 5%;
   margin-bottom: 5%;
}
.v_space_lg {
   margin-top: 7%;
   margin-bottom: 7%;
}

.flex_end{
	justify-content: flex-end;
	}

.center{
	align-items: center;
}

.circle{
	border-radius: 50%;
	max-height: 30%;
	max-width: 30%;
}

.background_light_blue{
	background-color: #cbf3f0;
}

.background_orange{
	background-color: #ff6b00;
}

.background_teal{
	background-color: #2ec4b6;
}

.background_yellow{
	background-color: #ffd601;
}

.headline_bg_yellow{
  display: inline;
  background-color: #ffd601;
  box-shadow: 10px 0 0 #ffd601, -10px 0 0 #ffd601;
}

.headline_callout_teal {
    display: inline;
    padding: 2%;
    box-shadow: 12px 10px 0 #2ec4b6, inset 0px 0px 0 #2ec4b6;
	z-index: 5;
}

.white{
	color: white;
}

.orange{
	color: #ff6b00;
}

.tint {
width: 100%;
background: rgb(46,196,182);
background: linear-gradient(90deg, rgba(46,196,182,1) 0%, rgba(46,196,182,0) 60%);
}


	
footer {
  background: #ffd601;
  padding: 2rem;
}
footer, footer a {
  color: #ff6b00
}


/*larger screens*/
/* 48em = 768px */
@media (min-width: 48em) {
  html {
    font-size: 125%;
  }
    
#header h1 a{
	 display: flex;
     width: 200px;
	 outline: none;
	height: 100px;
	background-image: url("../images/logo-gray.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
    
#hero {
  padding-top: 175px;
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../images/white-two-third.png"), url("../images/ocean.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  z-index: -5;
}
    
  #hero_text {
    justify-content: flex-start;
    align-items: flex-start;
	padding: 2em;
  }
    
    /*header css*/
    /*delete this if you get a new navbar*/
	
	.header{
		display: flex;
		justify-content: space-between;
	}
	
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
	  background-color: inherit;
  }
  .header .menu-icon {
    display: none;
  }
	
   /*end header css*/ 
    
    
  .container {
    padding-top: 60px;
    max-width: 1280px;
  }
    
    
  .row {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: none;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: row;
  }
	
	.column {
    display: flex;
    width: 100%;
    padding: .75rem;
    outline: none;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: column;
  }
    
  .item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
	align-items: flex-start;
  }

.item_align_center {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
	align-items: center;
  }	
		
.one_fifth {
	width: 20%;
  }
.two_fifth {
	width: 40%;
  }
.three_fifth {
	width: 60%;
  }

.circle{
	border-radius: 50%;
	max-height: 50%;
	max-width: 50%;
}

}